* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.flex {
  border: 3px solid black;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  background-color: rgb(23, 23, 188);
  border: 1px solid rgb(23, 23, 188);
  border-radius: 10px;
  height: 200px;
  width: 200px;
  text-align: center;
  color: white;
  margin: 20px;
  padding: 10px;
}

.box {
  border: 3px solid black;
  border-radius: 20px;
  margin: 10px;
}

.diplay_flex {
  display: flex;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.around {
  display: flex;
  justify-content: space-around;
}

.evenly {
  display: flex;
  justify-content: space-evenly;
}
